{% extends 'base.html' %}

{% load bootstrap3 %}

{% block tinymce %}
{% include "scribe/tinymce_template.html" %}
{% endblock tinymce %}

{% block content %}
<form action="." method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {% bootstrap_form form %}
  <button class="btn btn-primary" type="submit">Ok</button>
</form>
<iframe id="form_target" name="form_target" style="display:none"></iframe>
<form id="my_form" action="/scribe/upload/" target="form_target" method="post" enctype="multipart/form-data" style="width:0px;height:0;overflow:hidden">
    {% csrf_token %}
    <input name="image" type="file" onchange="$('#my_form').submit();this.value='';">
</form>
{% endblock %}
