{% extends "base.html" %}

{% block title %}
{{ object.name }}
{% endblock %}

{% block add_link %}
<li><a href="{% url 'scribe:email:email_create' %}"><span class="glyphicon glyphicon-plus"></span></a></li>
{% endblock %}

{% block edit_link %}
<li><a href="{{ object.get_update_url }}">Edit</a></li>
{% endblock %}

{% block content %}
  <p>{{ render|safe }}</p>
  <!-- Button trigger modal -->
  <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Get Gode
  </button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Copy this code into iModules</h4>
        </div>
        <div class="modal-body">
          {{ render }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->  
{% endblock %}
