<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>WorldWideWilly</title>
  <link rel="shortcut icon" href="images/favicon.ico" />
  <link media="screen" rel="stylesheet" type="text/css" href="/main_style2.css" />
  <link media="only screen and (max-device-width: 480px)" href="/mobile_style.css" type= "text/css" rel="stylesheet">
  <script type="text/javascript" src="scripts/translator.js"></script>
  <script type="text/javascript" src="scripts/swedishchef.js"></script>
</head>

<body id="home">
  <div class="container">
    <div id="header">
      <h1><a href="index.html" class="main_title"><img src="images/The_W_Logo3.png" class="logo" />WorldWideWilly</a></h1>
    </div>
    
    <div id="sidebar_right">
      <div id="nav">
        <a href="index.html" class="nav homenav">Home</a>
        <a href="resume.html" class="nav resumenav">R&eacute;sum&eacute;</a>
        <a href="thoughts" class="nav thoughtsnav">Thoughts</a>
        <a href="projects.html" class="nav projectsnav">Projects</a>
        <a href="contact.html" class="nav contactnav">Contact</a>
        <a href="end.html" class="nav endnav">The End</a>
      </div>
    </div>
    
    <div id="content"> 
      <p class="first_paragraph">This is my personal website.  I hope to learn much about the internet and provide useful resources to both you and me.  Thank you for stopping by.</p>
      <div class="news">
        <h3 class="center">WWW News</h4>
        <div id="loading" style="font-size: .8em; text-indent: 75px;">One moment...</div>
          <script language="JavaScript" src="http://worldwidewilly.net/scripts/feed2js/feed2js.php?src=http%3A%2F%2Fpipes.yahoo.com%2Fpipes%2Fpipe.run%3F_id%3D9485f44214b4152f891bc72b462dc272%26_render%3Drss&amp;num=8&amp;desc=300"  type="text/javascript"></script>
          <noscript>
            <a href="http://worldwidewilly.net/scripts/feed2js/feed2js.php?src=http%3A%2F%2Fpipes.yahoo.com%2Fpipes%2Fpipe.run%3F_id%3D9485f44214b4152f891bc72b462dc272%26_render%3Drss&amp;num=8&amp;desc=300&amp;html=y">View RSS feed</a>
</noscript>
      </div>
      <script type="text/javascript">document.getElementById("loading").className = "hideThis";</script>
      <br />
      <script type="text/javascript" src="http://output82.rssinclude.com/output?type=js&amp;id=260614&amp;hash=f227462d1c572163aa9a0a2aea851c68"></script>
      <p>Eternal thanks to <a href="http://www.linkedin.com/pub/rocky-meza/17/411/19b">Rocky Meza</a>, who is my web design mentor.</p> 
    </div>
    
    <div id="footer">
      <span>&copy; William H. Weiskopf IV 2009</span>
      <div class="translate">
          <a onClick="javascript: translator('en|es')"><img src="images/flags/spanish.jpg" /></a>
          <a onClick="javascript: translator('en|fr')"><img src="images/flags/french.jpg" /></a>
          <a onClick="javascript: translator('en|de')"><img src="images/flags/german.jpg" /></a>
          <a onClick="javascript: translator('en|zh-CN')"><img src="images/flags/chinese.jpg" /></a>
          <a onClick="javascript: translator('en|ja')"><img src="images/flags/japanese.jpg" /></a>
          <a onClick="javascript: translator('en|ar')"><img src="images/flags/arabic.png" /></a>
          <a onClick="javascript: translator('en|it')"><img src="images/flags/italian.jpg" /></a>
          <a onClick="javascript: translator('en|pt')"><img src="images/flags/portuguese.jpg" /></a>
          <a onClick="javascript: translator('en|ru')"><img src="images/flags/russian.png" /></a>
          <a onClick="javascript: translator('en|ko')"><img src="images/flags/korean.jpg" /></a>
          <a onClick="javascript: swedishchef();"><img src="images/flags/swedishchef.jpg" /></a>
      </div>
    </div>
  </div>
</body>
</html>
  
