{% extends "base.html" %}

{% load bootstrap3 %}

{% block title %}Setting New password{% endblock %}

{% block content %}
    {% if validlink %}
        <form action="" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {{ form.email.errors }}
            {% buttons submit="Submit" %}{% endbuttons %}
        </form>
        
    {% else %}
        <h1>Password reset unsuccessful</h1>
        <p>The password reset link was invalid, <br />
        possibly because it has already been used. <br />
        Please request a new password reset.</p>
    {% endif %}
{% endblock %}
