<!DOCTYPE html>
{% load bootstrap3 %}
{% load staticfiles %}

<html>
  <head>
    <title>Thoth</title>
    {% bootstrap_css %}
    {% bootstrap_javascript True %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script type="text/javascript">
$(document).ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }   
            }   
        }   
        return cookieValue;
    }   
    function sameOrigin(url) {
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }   
    function safeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }   

    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }   
});
    </script>
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand logo" href="{% url 'index' %}"><img src="{% static 'img/thoth.png' %}" /></a>
          <a class="navbar-brand" href="{% url 'index' %}">Thoth</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'scribe:email:email_index' %}">Emails</a></li>
            <li><a href="{% url 'scribe:template:template_index' %}">Templates</a></li>
            <li><a href="{% url 'scribe:header:header_index' %}">Headers</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% block edit_link %}{% endblock %}
            {% block add_link %}{% endblock %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.name }} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/accounts/password_reset">Reset Password</a></li>
                <li><a href="/accounts/update_email">Change Email</a></li>
                {% if perms.accounts.add_user %}
                  <li><a href="/accounts/add_user">Add User</a></li>
                {% endif %}
                <li><a href="/accounts/logout">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </header>
    <div class="col-md-offset-1">
      <h1>{% block title %}{% endblock %}</h1>
    </div>
    <div class="col-md-10 col-md-offset-1">
      {% block content %}{% endblock content %}
    </div>
  </body>
</html>
