{% if emails %}
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Template</th>
      <th>Header</th>
      <th>Creator</th>
      <th>Last Updated</th>
    </tr>
  </thead>
  <tbody>
    {% for object in emails %}
      <tr>
        <td><a href="{{ object.get_absolute_url }}">{{ object }}</a></td>
        <td>{{ object.template.name }}</td>
        <td>{{ object.header.name }}</td>
        <td>{{ object.creator }}</td>
        <td>{{ object.date_edited }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>Looks like there aren't any emails yet, <a href="{% url 'scribe:email:email_create' %}">create one</a>?</p>
{% endif %}
